.appList{  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}
.appLi{
  width: 1.7rem;  
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .iconContainer{
    flex-shrink: 0;
  }
}