.appList{  
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.8rem;
}
.appLi{
  width: 1.7rem;  
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .appIcon{    
    width: 100%;
    object-fit: cover;
  }
}