.gmailLogo{   
  width: 7rem;    
  object-fit: contain;

  cursor: pointer;
}

.iconContainer{
  flex-shrink: 0;
}

.topBar, .topBarMid, .topBarLeft, .topBarRight{  
  display: flex;
  align-items: center;  
}

.topBar{      
  height: 4rem;  
  align-items: unset;
  padding-inline: 0.5rem;  
  width: 100%;
}

.topBarLeft{
  max-width: 15rem;
  min-width: 10rem;
  flex: 1;
  justify-content: start;
  column-gap: 0.5rem;
  margin-left: 0.5rem;
}

.topBarMid{
  flex: 1;      
}

.topBarRight{
  column-gap: 0.5rem;
}

.searchBar{
  flex-shrink: 0;
  width: 85%;  
}

.profile{ /*temporary placeholder, ignore*/
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: grey;
}