.gmailLogo{   
  width: 7rem;    
  object-fit: contain;
}

.topBar, .topBarMid, .topBarLeft, .topBarRight{
  display: flex;
  align-items: center;
  /* outline: 1px solid; */
}

.topBar{    
  height: 4rem;  
  align-items: unset;
  padding-inline: 0.5rem;  
}

.topBarLeft{
  width: 15.5rem;
  justify-content: start;
  column-gap: 0.5rem;
  /* padding-left: 0.5rem; */
}

.topBarMid{
  flex: 1;      
}

.topBarRight{
  column-gap: 0.5rem;
}

.searchBar{
  width: 85%;  
}

.profile{ /*temporary placeholder, ignore*/
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: grey;
}